<!-- <p>Componenete Padre</p>
<app-hijo [mensaje]="mensajePadre"/>
 -->

 <div class="container">
    <h3 class="text-primary d-flex mx-auto justify-content-center">
        Componente Padre
    </h3>
    <app-hijo/>
    <button class="btn btn-primary mt-3 d-flex mx-auto justify-content-center" (click)="cambiarMensajeHIjo()">Cambiar Mensaje hijo</button>
    <!-- <app-hijo (notificarPadre)="recibirNotificacion($event)"></app-hijo>
    @if(mensaje)
    {
        <p class="mt-3 alert alert-info w-50 mx-auto">
            {{mensaje}} 
        </p>
    } -->

 </div>